header {
    font-weight: thin;
    font-size: xx-large;
    margin: 10px;
    text-align: center;
}

html,
body {
    min-width: 290px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: auto 20px;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
}

#main-doc {
    /* position: absolute; */
    margin-left: 310px;
    /* padding: 20px; */
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    /* height: 88%; */
    padding: 0;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}

#navbar li {
    border-top: 1px solid;
    /* list-style: none; */
    /* position: relative; */
    /* width: 100%; */
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

section p {
    margin: 15px;
}

section li {
    margin: 15px 0px 0px 20px;
}